.card-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card{
    /* border: 1px solid #2780E3; */
    width: 30%;
    margin-top: 1rem;
    border: 1px solid rgba(0,0,0,0.2);
    /* box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); */
    box-shadow: 2px 2px 2px 1px rgba(33, 85, 205, 0.2);
    border-radius: 0.5rem;
}

.card:hover{
    background-color: #267CDC;
    color:white;
    transform: scale(1.05);
    transition: transform 1s;
}

.card-header{
    padding:0.5rem;
    /* background-color: #F7F7F7; */
    background-color: #267CDC;
    color: white;
    text-align: center;
    border-radius: 0.2rem;
}

.card-body{
    font-size: 1.5rem;
    text-align: center;
}

a.card-link{
    display: block;
    text-decoration: none;
    color: inherit;
    margin: 0.2rem 0.5rem;
    border-radius: 0.5rem;
}
a.card-link:hover{
    background-color:#E8F9FD;
    color: black;
}

@media (max-width: 800px) {
    /* from 0 to 800px */
    .card{
        width: 40%;
    }
    .card-body{
        /* font-size: 1rem; */
    }
}


@media (max-width: 550px) {
    /* from 0 to 800px */
    .card{
        /* width: 40%; */
    }
    .card-body{
        font-size: 1rem;
    }
}