<h1>USER | APPOINTMENT HISTORY</h1>
<div class="table-container custom-scroll">
    <div *ngIf="this.resultString==='1'" class="alert alert-success">Canceled Appointment</div>
    <div *ngIf="this.resultString==='0'" class="alert alert-danger">Failed to Cancel Appointment</div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Doctor Name</th>
                <th>Specialization</th>
                <th>Consultancy Fee</th>
                <th>Appointment Date/Time</th>
                <th>Appointment Created Date</th>
                <th>Current Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let appointment of this.appointments; let i=index">
                <td>
                    <div class="row-index">
                        {{i+1}}
                    </div>
                </td>
                <td class="cell-avatar">
                    <i class="row-avatar fa-solid fa-calendar-check"></i>
                </td>
                <td data-title="Patient Name: ">{{appointment.patientName}}</td>
                <td data-title="Specialization: ">{{appointment.spec}}</td>
                <td data-title="Consultancy Fee: ">{{appointment.fee}}</td>
                <td data-title="Appointment Date/Time: ">{{appointment.dateTime}}</td>
                <td data-title="Appointment Created Date: ">{{appointment.createdDate}}</td>
                <td data-title="Current Status: ">{{appointment.status}}</td>
                <td *ngIf="appointment.action!='Canceled'" data-title="Action: ">
                    <button (click)="this.handleCancelAppointment(appointment.id)" class="btn btn-danger">Cancel</button>
                </td>
                <td *ngIf="appointment.action==='Canceled'" data-title="Action: ">{{appointment.action}}</td>
            </tr>
        </tbody>
    </table>
</div>