<div class="home-content">
    <div class="home-menu">
        <div class="card">
            <div class="card-logo">
                <i class="fa-solid fa-user"></i>
            </div>
            <div class="card-text">
                <div class="card-header">
                    <strong>Patients</strong>
                </div>
                <div class="card-body">
                    Register & Book Appointment
                </div>
                <a routerLink='user' class="card-link">Click Here!</a>
            </div>
        </div>
        <div class="card">
            <div class="card-logo">
                <i class="fa-solid fa-user-doctor"></i>
            </div>
            <div class="card-text">
                <div class="card-header">
                    <strong>Doctors Login</strong>
                </div>
                <div class="card-body">
                </div>
                <a routerLink="doctor" class="card-link">Click Here!</a>
            </div>
        </div>
        <div class="card">
            <div class="card-logo">
                <i class="fa-solid fa-lock"></i>
            </div>
            <div class="card-text">
                <div class="card-header">
                    <strong>Admin Login</strong>
                </div>
                <div class="card-body">
                </div>
                <a routerLink="admin" class="card-link">Click Here!</a>
            </div>
        </div>
    </div>
</div>