<h1>USER | CHANGE PASSWORD</h1>
<form class="password-form" [formGroup]="this.passwordForm" (ngSubmit)="this.handleSubmit()">
    <div *ngIf="this.resultString==='1'" class="alert alert-success">Changed Password Correctly</div>
    <div *ngIf="this.resultString==='0'" class="alert alert-danger">Failed to Change Password</div>
    <div class="form-group">
        <label for="currentPassword" class="label-contr">Current Password</label>
        <input formControlName="currentPassword" type="password" name="currentPassword" id="currentPassword" class="form-control" autocomplete="off" (change)="this.checkCurrentPassword()">
        <div *ngIf="this.currentPassword?.invalid && (this.currentPassword?.dirty || this.currentPassword?.touched)" class="text-danger">
            <small *ngIf="this.currentPassword?.errors?.['required']">Current password field is required</small>
        </div>
        <small *ngIf="!this.boolCurrentPassword" class="text-danger">Current password is incorrect</small>
    </div>
    <div class="form-group">
        <label for="newPassword" class="label-contr">New Password</label>
        <input formControlName="newPassword" type="password" name="newPassword" id="newPassword" class="form-control" autocomplete="off">
        <div *ngIf="this.newPassword?.invalid && (this.newPassword?.dirty || this.newPassword?.touched)" class="text-danger">
            <small *ngIf="this.newPassword?.errors?.['required']">New password field is required</small>
        </div>
    </div>
    <div class="form-group">
        <label for="confirmPassword" class="label-contr">Confirm Password</label>
        <input formControlName="confirmPassword" type="password" name="confirmPassword" id="confirmPassword" class="form-control" autocomplete="off" (change)="this.checkPasswordsMatch()">
        <div *ngIf="this.confirmPassword?.invalid && (this.confirmPassword?.dirty || this.confirmPassword?.touched)" class="text-danger">
            <small *ngIf="this.confirmPassword?.errors?.['required']">Confirm password field is required</small>
        </div>
        <small *ngIf="!this.boolPasswordsMatch" class="text-danger">New password and confirm password don't match</small>
    </div>
    <div class="form-group">
        <input type="submit" value="Change Password" class="btn btn-primary">
    </div>
</form>