.mh-title{
    /* background-color:rgba(39, 128, 227,0.5); */
    background-color: rgb(212, 230, 249);
    text-align: center;
    display: none;
}

@media (max-width:700px) {
   .mh-title{
       display: block;
   } 
}  